<td-layout-nav logo="assets:logobank" toolbarTitle="Agregación de Numerales - DCIN" >
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="center center" flex>    
      <span flex></span>
      <!--<span><img src="assets/icons/logo.png" width="250"></span>-->
    </div>
  
    <div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
    </div>

</td-layout-nav>